<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ © 2025 Sphereon International B.V.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>


    <!-- Necessary to perform any Bluetooth classic or BLE communication, such as requesting a
   connection, accepting a connection, and transferring data. -->
    <uses-permission
            android:name="android.permission.BLUETOOTH"
            android:maxSdkVersion="30"
    />
    <uses-permission
            android:name="android.permission.BLUETOOTH_ADMIN"
            android:maxSdkVersion="30"
    />

    <!-- Not needed for apps targeting Android 9 (API 28) or lower, but there is no `minSdkVersion` attribute. -->
    <uses-permission
            android:name="android.permission.ACCESS_COARSE_LOCATION"
            android:maxSdkVersion="30"
    />
    <uses-permission
            android:name="android.permission.ACCESS_FINE_LOCATION"
    />

    <!-- Required to call `BluetoothDevice.getName()`, `BluetoothDevice.getBondState()`, `BluetoothGatt.disconnect()`, etc. -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>

    <uses-permission
            android:name="android.permission.BLUETOOTH_SCAN"
            android:usesPermissionFlags="neverForLocation"
            tools:targetApi="s"
    />

    <!-- Required to advertise BLE services on Android 12+ -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE"/>

    <!-- Required for foreground service on Android 14+ -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE"/>


    <!-- "If you say the feature is required for your app, then the Google Play store will hide your
    app from users on devices lacking those features. For this reason, you should only set the
    required attribute to `true` if your app can't work without the feature."
    — https://developer.android.com/guide/topics/connectivity/bluetooth/permissions#features

    Marked as `false` as we shouldn't make this decision for the consuming app. -->
    <uses-feature
            android:name="android.hardware.bluetooth_le"
            android:required="false"/>


    <!-- NFC engagement -->
    <uses-feature
            android:name="android.hardware.nfc"
            android:required="false"/>

    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.VIBRATE"/>


    <application
            android:name=".KiwaSampleApplication"
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@android:style/Theme.Material.Light.NoActionBar">

        <activity
                android:exported="true"
                android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
                android:name=".MdocNfcService"
                android:exported="true"
                android:label="@string/nfc_engagement_service_desc"
                android:permission="android.permission.BIND_NFC_SERVICE"
                android:foregroundServiceType="connectedDevice">
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE"/>
            </intent-filter>

            <meta-data
                    android:name="android.nfc.cardemulation.host_apdu_service"
                    android:resource="@xml/nfc_engagement_apdu_service"/>
        </service>

        <service
                android:name=".BleEngagementService"
                android:enabled="true"
                android:exported="false"
                android:foregroundServiceType="connectedDevice"/>

    </application>

</manifest>